# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Results
Results/

# Logs
*.log

Input/*.csv
!Input/day_ahead_prices_germany_2025.csv
!Input/hourly_load_2025_company.csv